*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bglight{
    background: #ebfb3f;
    background: radial-gradient(circle, rgba(235, 251, 63, 1) 0%, rgba(0, 0, 0, 1) 84%);
}

.bulb > img{
    width: 200px;
}

.button{
    /* background-color: black; */
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    position: absolute;
    top: 450px
}

.button:hover{
    background-color: white;
    color: black;
}

.cnt{
    color: white;
    position: fixed;
    top: 50px;
    left: 50px;
    border: 2px solid white;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 5px;
}